################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryManagementSystem
/LibraryManagementSystem.Api/bin/Debug/netcoreapp3.1
/LibraryManagementSystem.Api/obj
/LibraryManagementSystem.Core/bin/Debug/netcoreapp3.1
/LibraryManagementSystem.Core/obj
/LibraryManagementSystem.Repository/bin/Debug/netcoreapp3.1
/LibraryManagementSystem.Repository/obj
